body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.action-items{
    float: right;
}

.top-action a{
    color: white;
}

.top-action {
    margin-left: 10px;
}

.list-group{ 
    margin-top: 20px;
}

.list-group div{
    width: 100%;
}

.back-link{
    margin: 10px;
}

input, select {
    width: 30%;
    max-width: none;
}

.submit-btn{
    width: 15%;
}